-server
-Xms512M
-Xmx1G
-XX:+UseG1GC
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:ReservedCodeCacheSize=256M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-XX:+UseStringDeduplication
-XX:+ParallelRefProcEnabled
-XX:+DisableExplicitGC
-Djdk.nio.maxCachedBufferSize=262144
-XX:+UnlockExperimentalVMOptions
-XX:+TrustFinalNonStaticFields
-Djdk.attach.allowAttachSelf=true
-Djava.util.logging.config.file=/etc/trino/log.properties
-Dlog.output-file=/var/log/trino/server.log
-Dlog.enable-console=true
